@import "tailwindcss";

body {
  font-family: var(--font-geist-sans), sans-serif;
}
@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
@keyframes ping-slow {
  75%,
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
.animate-pulse-slow {
  animation: pulse-slow 3s infinite;
}
.animate-ping-slow {
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.animate-ping-slower {
  animation: ping 6s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.animate-progress {
  animation: progress 3s ease-in-out infinite;
}
.pulse-marker img {
  animation: pulse 2s infinite;
}
